<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqwmgKjAVBWXFV2-ptXy7Ocq_3lWwc7yc</string>
	<key>GCM_SENDER_ID</key>
	<string>346504774877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.eventdiscoveryticketing</string>
	<key>PROJECT_ID</key>
	<string>event-discovery-d9a28</string>
	<key>STORAGE_BUCKET</key>
	<string>event-discovery-d9a28.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346504774877:ios:550154d720b93d12ebc734</string>
</dict>
</plist>